<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block titulo %}
            FakePintrest 
        {% endblock %}
    </title>
</head>
{%block body %}
    <body>
        <h1 style=" color:blue; font-size: 0.9em; border: black solid 2px; padding: 30px;">Olá mundo, esse é meu primeiro site aprendendo a criar páginas com o Flask</h1>


        {%block formulario %}

        <form method="POST"> <!--Criamos o nosso formulário dentro do nosso html como  a tag form e passamos  ometodo post pois o mesmo irá receber informções do usuário-->

            {{form.csrf_token}} <!--Dessa forma importamos o form do nosso python o mesmo deve ser escrito form.csrf_token o mesmo é como uma trava de segurança que o flask faz para garantir proteção, prevenindo de ataques-->
        
            {{form.email}} <!--Para cada campo devemos escrever o nome do seu campo e tambem o seu label. Isso deve ser repetido para cada um dos campos  -->
            {{form.email.label()}}

            {{form.senha}}
            {{form.senha.label()}}

            {{form.botao}} <!--Nese caso o label não se fará necessário, pois é um botão-->
            
        </form>
        {% endblock %}
    </body>
{% endblock %}
</html>