
{% extends "homepage.html" %}

{%block titulo %}
        perfil FakePintrest 
{% endblock %}


{%block body %}

<body>
    <h1 style=" color:blue; font-size: 0.9em; border: black solid 2px; padding: 30px;">Olá {{usuario}}</h1>
   
   
   <p style=" color:blue; font-size: 0.9em; border: black solid 2px; padding: 3px;">
        {{idade}}
    </p>

    <a href="{{url_for('homepage')}}" style=" color:blue; font-size: 0.9em; border: black solid 2px; padding: 3px;">sair</a>
</body>



{% endblock %}
