<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil  do usuário</title>
</head>
<body>
    <h1>Perfil que iremos ter dentro da nossa página</h1>
    {{idade}} <!--Dessa forma com as chaves podemos fazer uso os nosso python nesse nosso arquivo-->

    
     <!--
                <a href="/">Sair</a>
    esse seria o link para a home page do site-->
    
    <!--Ao fazermos esse direcionamento seguimos a direção que essa página segue segundo o meu main do python. A mudança do diretoório pode significar erro de direcionamento em outras páginas, para tal dentro do main.py iremos chamar a função url_for do flask. A mesma usará como direcionamento a função para a criação da home page ou outras páginas e não mais o sparâmetros passados no route-->

    <p><a href="{{url_for('homepage')}}">Sair</a></p> <!--Dessa forma independente do diertorio sempre estaremos direcionados a mesma página-->

  
</body>
</html>